.pokemon-list {
  width: 100vw;
  position: relative;
  padding: 10px;
  background-color: #ddd;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  box-sizing: border-box;
}

@media all and (min-width: 400px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 600px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1000px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pagination-box {
  width: 100%;
}

.pagination-per-page-box {
  display: inline-block;
  float: right;
  margin-right: 10px;

  span {
    color: #464646;
  }
}

.pagination,
.pagination-per-page {
  list-style: none;
  display: inline-block;

  li {
    display: inline-block;
    margin: 0 5px;

    a {
      text-decoration: none;
      color: #464646;

      &:hover {
        color: #A4A5A5;
      }
    }

    &.active a {
      color: #F07B71;
    }
  }
}
